%div.selector
  - languages.each do |language|
    - lang_code = to_slug(language)
    %label
      %input{ :type => 'checkbox', :name => lang_code }/
      %span= language

- content.each do |hash|
  - hash.each do |section, features|
    %section.preload{ :id => to_slug(section) }
      %a{ :name => to_slug(section) }
      -# %h2= section
      %table
        %thead
          %tr
            %th.heading
              %h2= section
            - languages.each do |language|
              %th{ :class => to_slug(language) }
                %strong= language

        %tbody
          - features.each do |hash|
            - hash.each do |feature, snippets|
              %tr
                %th
                  %h4= feature
                - snippets.each do |hash|
                  - hash.each do |language, code|
                    - language = to_slug(language)

                    - if code.strip == ''
                      %td{:class => "#{language} empty"}
                        %pre{:class => language}

                    - else
                      %td{:class => language}
                        %pre{:class => language}
                          = format_code(code, language)

