!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %title Languages cheat sheet
    %link(rel='stylesheet' media='screen' type='text/css' href='/css/style.css')
  %body.preload
    #all
      = yield

    %script(type='text/javascript')
      = "window.RF = {};"
      = "window.RF.languages = [];"
      - languages.each do |language|
        != "window.RF.languages.push('#{to_slug(language)}');"

    != js_assets :base

