%div.selector.preload
  .tabs
    - languages.each do |language|
      - lang_code = to_slug(language)
      %label{:id => "#{lang_code}-checkbox"}
        %input{ :type => 'checkbox', :name => lang_code }/
        %a{:href => "##{lang_code}"}= language
    %label.see-also
      %select{:name => 'see-also'}
        %option{:value => ''} Also see...
        - Reference.all_languages.each do |hash|
          - hash.each do |section, langs|
            %option{:disabled => '1'}= section
            - langs.each do |lang|
              %option{:value => lang_path(section, lang)}!= "&nbsp; &nbsp; #{lang}"

#content
  - content.each_hash do |section, features|
    %section.preload{ :id => to_slug(section) }
      %a{ :name => to_slug(section) }
      -# %h2= section
      %table
        %thead
          %tr
            %th.heading
              %h2= section
            - languages.each do |language|
              %th{ :class => to_slug(language) }
                %strong= language

        %tbody
          - features.each_hash do |feature, snippets|
            %tr
              %th
                %h4= feature
              - snippets.each_hash do |language, code|
                - language = to_slug(language)

                - if code.strip == ''
                  %td{:class => "#{language} empty"}
                    %pre{:class => language}

                - else
                  %td{:class => language}
                    %pre{:class => language}
                      != format_code(code, language)

